{% extends 'base.html.twig' %}


{% block body %}

<style>
    
</style>

<div class="container mt-3">
    
<h2>Liste des livres : </h2>



<a href="{{path('addBook')}}" ><button type="button" class="btn btn-sm btn-primary mb-3">Ajouter un livre</button></a>
<a href="{{path('app_book')}}" ><button type="button" class="btn btn-sm btn-secondary mb-3">Liste des livres</button></a>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Date publication</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
  {% for livre in livres %}
    <tr>
      <th>{{livre.id}}</th>
      <td>{{livre.titre}}</td>
      <td>{{livre.datePublication | date('Y-m-d')}}</td>
      <td>

            <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#tt{{livre.id}}">
                Voir détail
                </button>

                <!-- Modal -->
                <div class="modal fade" id="tt{{livre.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{livre.titre}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
                    </div>
                </div>
                </div>
        </td>
      
    </tr>
    {% endfor %}
    
  </tbody>
</table>
    
</div>


{% endblock %}
