{% extends 'base.html.twig' %}


{% block body %}

<style>
    
</style>

<div class="container mt-3">
    
<h2>Ajouter un livre : </h2>

<div class="form-group">

{{ form_start(form) }}
    {{ form_row(form.titre , { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.auteur , { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.datePublication ) }}
    {{ form_row(form.resume , { 'attr' : { 'class': 'form-control' } }) }}
    {{ form_row(form.reference , { 'attr' : { 'class': 'form-control' } }) }}

    <button type="submit" class="btn btn-sm btn-primary mt-3">Ajouter un livre</button>

{{ form_end(form) }}

</div>



    
</div>


{% endblock %}
